USE [master]
GO
/****** Object:  Database [DB_MEMOMI]    Script Date: 06/12/2024 12:55:25 ******/
CREATE DATABASE [DB_MEMOMI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MEMOMI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_MEMOMI.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_MEMOMI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_MEMOMI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MEMOMI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MEMOMI]
GO
/****** Object:  User [IIS APPPOOL\ApiMemomi]    Script Date: 06/12/2024 12:55:25 ******/
CREATE USER [IIS APPPOOL\ApiMemomi] FOR LOGIN [IIS APPPOOL\ApiMemomi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\ApiMemomi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AUDIO]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDIO](
	[IdAudio] [char](6) NOT NULL,
	[IdEvento] [char](6) NOT NULL,
	[Audios] [varchar](50) NOT NULL,
	[InvitadoDNI] [char](8) NOT NULL,
	[NombreInvitado] [varchar](50) NOT NULL,
	[AudioFisic] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMENTARIOS]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIOS](
	[IdComentario] [char](6) NOT NULL,
	[IdEvento] [char](6) NOT NULL,
	[Comentarios] [varchar](50) NOT NULL,
	[InvitadoDNI] [char](8) NOT NULL,
	[NombreInvitado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENTO](
	[IdEvento] [char](6) NOT NULL,
	[NombreEvento] [varchar](50) NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[idNovio] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURA](
	[IdFactura] [char](6) NOT NULL,
	[Fec_Venc] [datetime] NOT NULL,
	[Fec_Compra] [datetime] NOT NULL,
	[Tipo_pago] [varchar](50) NOT NULL,
	[IdPlan] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOTOS]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOTOS](
	[IdFotos] [char](6) NOT NULL,
	[IdEvento] [char](6) NOT NULL,
	[Fotos] [varchar](50) NOT NULL,
	[InvitadoDNI] [char](8) NOT NULL,
	[NombreInvitado] [varchar](50) NOT NULL,
	[FotoFisic] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFotos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LISTABLANCA]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LISTABLANCA](
	[IdLista] [char](6) NOT NULL,
	[IdEvento] [char](6) NOT NULL,
	[InvitadoDNI] [char](8) NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[Codigo] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOVIO]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOVIO](
	[IdNovio] [char](6) NOT NULL,
	[NombreNovio1] [varchar](50) NOT NULL,
	[NombreNovio2] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Contrasena] [varchar](20) NOT NULL,
	[Telefono] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNovio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLANUSUARIO]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANUSUARIO](
	[IdPlan] [char](6) NOT NULL,
	[IdNovio] [char](6) NOT NULL,
	[Costos] [int] NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Foto] [int] NOT NULL,
	[Video] [int] NOT NULL,
	[Audio] [int] NOT NULL,
	[Comentario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUTAS_ARCHIVOS]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUTAS_ARCHIVOS](
	[ID_RUTA] [int] IDENTITY(1,1) NOT NULL,
	[COD_RUTA] [varchar](50) NOT NULL,
	[SERVIDOR] [varchar](50) NOT NULL,
	[RUTA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIDEOS]    Script Date: 06/12/2024 12:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIDEOS](
	[IdVideo] [char](6) NOT NULL,
	[IdEvento] [char](6) NOT NULL,
	[Videos] [varchar](50) NOT NULL,
	[InvitadoDNI] [char](8) NOT NULL,
	[NombreInvitado] [varchar](50) NOT NULL,
	[VideoFisic] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AUDIO] ([IdAudio], [IdEvento], [Audios], [InvitadoDNI], [NombreInvitado], [AudioFisic]) VALUES (N'A0001 ', N'EV0001', N'AUD-20210216-WA0007.opus', N'17025677', N'Michael Aragon', N'1618c64b-4530-47b5-9bb3-5cc4cd3ba4f1.opus')
INSERT [dbo].[AUDIO] ([IdAudio], [IdEvento], [Audios], [InvitadoDNI], [NombreInvitado], [AudioFisic]) VALUES (N'A0002 ', N'EV0001', N'AUD-20220106-WA0000.aac', N'17025677', N'Michael Aragon', N'306b6a6e-a0b4-410e-bbe6-a2ad2ef81ee2.aac')
INSERT [dbo].[EVENTO] ([IdEvento], [NombreEvento], [FechaEvento], [idNovio]) VALUES (N'EV0001', N'ndkenfjf', CAST(N'2024-11-18 19:00:00.000' AS DateTime), N'N00001')
INSERT [dbo].[EVENTO] ([IdEvento], [NombreEvento], [FechaEvento], [idNovio]) VALUES (N'EV0002', N'prueba2', CAST(N'2024-11-27 19:00:00.000' AS DateTime), N'N00001')
INSERT [dbo].[EVENTO] ([IdEvento], [NombreEvento], [FechaEvento], [idNovio]) VALUES (N'EV0003', N'prueba23', CAST(N'2024-12-05 19:00:00.000' AS DateTime), N'N00001')
INSERT [dbo].[FOTOS] ([IdFotos], [IdEvento], [Fotos], [InvitadoDNI], [NombreInvitado], [FotoFisic]) VALUES (N'F00001', N'string', N'1000094605.jpg', N'71025677', N'Michael Moises', N'78463baa-d8a6-41ee-b0ba-c395a00e71aa.jpg')
INSERT [dbo].[FOTOS] ([IdFotos], [IdEvento], [Fotos], [InvitadoDNI], [NombreInvitado], [FotoFisic]) VALUES (N'F00002', N'string', N'1000094606.jpg', N'71025677', N'Michael Moises', N'9854d8f3-8e87-47f9-b78d-29cf6af96fa5.jpg')
INSERT [dbo].[FOTOS] ([IdFotos], [IdEvento], [Fotos], [InvitadoDNI], [NombreInvitado], [FotoFisic]) VALUES (N'F00003', N'string', N'1000092446.jpg', N'71025677', N'Michael Moises', N'52a7491f-563c-4333-9c4d-4477f2ab46c9.jpg')
INSERT [dbo].[LISTABLANCA] ([IdLista], [IdEvento], [InvitadoDNI], [FechaEvento], [Codigo]) VALUES (N'L0007 ', N'E0003 ', N'71625367', CAST(N'2024-12-06 11:22:31.000' AS DateTime), N'772f5ce5')
INSERT [dbo].[LISTABLANCA] ([IdLista], [IdEvento], [InvitadoDNI], [FechaEvento], [Codigo]) VALUES (N'L0008 ', N'E0003 ', N'10526836', CAST(N'2024-12-06 11:22:27.000' AS DateTime), N'772f5ce5')
INSERT [dbo].[LISTABLANCA] ([IdLista], [IdEvento], [InvitadoDNI], [FechaEvento], [Codigo]) VALUES (N'L0009 ', N'E0003 ', N'71025677', CAST(N'2024-12-06 11:22:23.000' AS DateTime), N'772f5ce5')
INSERT [dbo].[NOVIO] ([IdNovio], [NombreNovio1], [NombreNovio2], [Correo], [Contrasena], [Telefono]) VALUES (N'N00001', N'michael', N'moises', N'admin', N'1234', N'961096029')
SET IDENTITY_INSERT [dbo].[RUTAS_ARCHIVOS] ON 

INSERT [dbo].[RUTAS_ARCHIVOS] ([ID_RUTA], [COD_RUTA], [SERVIDOR], [RUTA]) VALUES (1, N'Fotos', N'C:\\', N'Archivos\\MEMOMI\\Fotos')
INSERT [dbo].[RUTAS_ARCHIVOS] ([ID_RUTA], [COD_RUTA], [SERVIDOR], [RUTA]) VALUES (2, N'Audios', N'C:\\', N'Archivos\\MEMOMI\\Audios')
INSERT [dbo].[RUTAS_ARCHIVOS] ([ID_RUTA], [COD_RUTA], [SERVIDOR], [RUTA]) VALUES (3, N'Videos', N'C:\\', N'Archivos\\MEMOMI\\Videos')
SET IDENTITY_INSERT [dbo].[RUTAS_ARCHIVOS] OFF
INSERT [dbo].[VIDEOS] ([IdVideo], [IdEvento], [Videos], [InvitadoDNI], [NombreInvitado], [VideoFisic]) VALUES (N'V0001 ', N'EV0001', N'1000094884.mp4', N'71025677', N'Michael Moises', N'1eff38ad-7e88-4220-bc1b-74c1c4a3ea52.mp4')
ALTER TABLE [dbo].[AUDIO]  WITH CHECK ADD  CONSTRAINT [FK_Audio_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EVENTO] ([IdEvento])
GO
ALTER TABLE [dbo].[AUDIO] CHECK CONSTRAINT [FK_Audio_Evento]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EVENTO] ([IdEvento])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_Comentarios_Evento]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PLANUSUARIO] ([IdPlan])
GO
ALTER TABLE [dbo].[VIDEOS]  WITH CHECK ADD FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EVENTO] ([IdEvento])
GO
USE [master]
GO
